.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksCreated, .tasksCompleted {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.tasksCreated {
  color: var(--blue-500);
}

.tasksCompleted {
  color: var(--purple-500);
}

.badge {
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  font-size: 0.75rem;
  color: var(--gray-200);
  background: var(--gray-400);
}

.tasksEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  color: var(--gray-300);
}

.tasksEmpty strong {
  margin-top: 1rem;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}